$black: #000;
$white: #fff;

.clearfix::after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
  }

body {
  min-width: 1400px;
  }

h1 {
  width: 320px;
  }

img {
  border-radius: 10px 10px 0 0;
  width: 494px;
}

li,
.note-space-here {
  border-bottom: 2px solid $black;
}

h1,
h3,
.sucks,
.author,
.sign-up-in-out-space {
  font-family: 'Bangers', cursive;
}

h1,
.add-button {
  margin-left: 20px;
}

h1,
.book-burn .sucks {
  font-size: 50px;
}

h3,
.book-burn,
.sign-up-in-out-space {
  text-align: center;
}

.sign-up-form,
.sign-in-form,
.change-password-form,
.sign-up-in-out-space {
  margin-left: 35px;
  width: 154px;
}

.this-book-sucks,
.master-list,
.book-burn,
.to-read,
.sign-up-in-out-space {
  background: $white;
  border: 1px solid $black;
  border-radius: 10px;
}


.book-burn,
.to-read,
.master-list {
  margin: 0 auto;
}

.to-read,
.author,
.remove-from-my-to-read-list {
  float: right;
}

.sign-up-form,
.sign-in-form,
.change-password-form {
  margin-bottom: 10px;
}

.title,
.author,
.sign-up-in-out-space {
  font-size: 20px;
}

.book-burn,
.sign-up-in-out-space {
  border-radius: 10px;
}

.to-read li {
  padding: 15px 0 10px;
}

.master-list li {
  padding-top: 5px;
}

.to-read {
  clear: both;
  margin: -500px 75px 0;
  max-height: 500px;
  overflow: scroll;
  width: 30%;
}

.book-burn {
  @include box-sizing(content-box);
  margin-top: -320px;
  width: 494px;
};

.intro {
  font-family: 'Dancing Script', cursive;
  font-size: 25px;
}

.sign-out-button {
  margin-left: 35px;
}

.change-password-form {
  margin-top: 10px;
}

.sucks {
  font-size: 30px;
}

.add-to-my-to-read-list {
  margin-bottom: 15px;
}

.master-list {
  height: 500px;
  margin-right: 525px;
  margin-top: -225px;
  overflow: scroll;
  text-align: left;
  width: 30%;
}

.title {
  font-family: 'Bad Script', cursive;
}

.author {
  margin-right: 20px;
}

.remove-from-my-to-read-list {
  margin-right: 10px;
};

.note-space-here {
  margin-top: 5px;
}

.sign-up-in-out-space {
  height: 100px;
  padding-top: 20px;
  width: 200px;
}

.this-book-sucks {
  margin-bottom: 10px;
  margin-left: 20px;
  margin-top: 10px;
  width: 25%;
}


// .review-form-field {
//   @include box-sizing(content-box);
//   border: 1px solid $black;
//   float: left;
//   height: 449px;
//   margin-left: 20px;
//   margin-top: 20px;
//   width: 450px;
// }
//
// .review-title {
//   border: 1px solid $black;
// }
//
// .review-body {
//   border: 1px solid $black;
//   height: 400px;
//   width: 450px;
// }
