$black: #000;

.clearfix::after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
  }

body {
  min-width: 1400px;
  }

h1 {
  font-family: 'Bangers', cursive;
  font-size: 50px;
  margin-left: 20px;
  width: 320px;
  }

h4 {
  text-align: center;
}

img {
  border-radius: 10px 10px 0 0;
  width: 494px;
}

.book-burn {
  @include box-sizing(content-box);
  border: 1px solid $black;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: -170px;
  text-align: center;
  width: 494px;
};

.quote {
  font-family: 'Dancing Script', cursive;
  font-size: 25px;
}

.reviewer {
  font-family: 'Bad Script', cursive;
  font-size: 20px;
}

.sign-up-form,
.sign-in-form,
.change-password-form {
  margin-left: 35px;
  width: 154px;
}

.sign-out-button {
  margin-left: 35px;
}

.sign-up-form {
  margin-bottom: 10px;
}

.change-password-form {
  margin-top: 10px;
}

.sucks {
  font-family: 'Bangers', cursive;
  font-size: 30px;
}

.to-read {
  border: 1px solid $black;
  margin: 0 auto;
  width: 30%;
}

.add-to-list,
.add-button {
  margin-left: 20px;
}
